<!--
<input class="search" [(ngModel)]="searchQuery" placeholder="Search Images">
<button (click)="searchImage(searchQuery)" type="button">Find Image</button>

<p *ngIf="searching" >Fecting data...</p> <!--Delay to load images-->
<!--
<div *ngFor="let image of images" class="image-container">
  <img src="{{ image.webformatURL }}">
  <p>Tags: {{ image.tags }} </p>
  <p>User: {{ image.user }} </p>
  <p>Comments: {{ image.comments }} </p>
  <p>Likes: {{ image.likes }} </p>
</div>
-->
<mat-card style="padding-bottom: 10px;">
  <mat-form-field class="search">
    <input  matInput [(ngModel)]="searchQuery" (keyup.enter)="searchImage(searchQuery)" name="search" placeholder="Search for Images">
  </mat-form-field>
  <br>
  
  <button (click)="searchImage(searchQuery)" 
    mat-raised-button class="searchButton" type="button">Find Image
  </button>

  <div *ngIf="searching" >
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

</mat-card>



<mat-card>
  <!--<h4 *ngIf="imagesFound" md-subeader>Results</h4>-->
  <img *ngIf="notFound === 0" src="./assets/image/noImageFound.jpg" id="centeredImage">
  <masonry [useImagesLoaded]="true">
    <masonry-brick *ngFor="let image of images" class=image-container>
      <mat-card>
        <a href="{{ image.pageURL }}" target="_bank">
          <mat-card-header>
            <div class="avatar" mat-card-avatar [ngStyle]="{'background-image':'url('+ image.userImageURL +')', 'background-size':'40px 40px'}"></div>
            <mat-card-title>User: {{ image.user }}</mat-card-title>
          </mat-card-header>
          <img md-card-image src="{{image.webformatURL}}">
          <mat-card-content>
            <p>Tags: {{ image.tags }}</p>
            <p>Comments: {{ image.comments }}</p>
            <p>Likes: {{ image.likes }}</p>
          </mat-card-content>
        </a>
      </mat-card>
      <br><br>
    </masonry-brick>
  </masonry>
</mat-card>

<div style="text-align: right">
  <a href="http://github.com/marcionitao/sucheBilder"><img src="./assets/image/git.png" style="width:50px; margin-top:20px"></a>
</div>